body {
    height:2689px;
    background: linear-gradient(180deg, #1C2239 0%, #0B0E1A 30%)
}



p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    

    color: rgba(255, 255, 255, 0.65);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    margin:10px;
}

a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;

    color: #999999;
}
a:hover {
    color: #FFFFFF;
}

h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
    margin: 10px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;

    color: #81CEF0;
    margin: 10px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}



li {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    

    color: rgba(255, 255, 255, 0.65);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


/* MAIN AREAS */
#menu {
    width:90%;
    height:100px;
    margin-top:45px;
    margin-bottom:90px;
    margin-left:auto;
    margin-right:auto;


}
#purchase_area {
    width:488px;
    height:261px;

    margin-left:auto;
    margin-right:auto;
}
#rocket_area {

    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;

    width:550px;
    height:600px;
    position:relative;
}
#monitors_area {
    width:100%;

	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;

}











#menu_left {
    margin-top:36px;
    width:42%;
    height:27px;
    float:left;
}
#menu_right {
    margin-top:36px;
    width:42%;
    height:27px;
    float:right;
    
}


.menu_item-left {
    float:left;
    margin-left:15%;
    margin-right:15%;
}
.menu_item-right {
    float:right;
    margin-left:15%;
    margin-right:15%;
}

#menu_logo {
    width: 102px;
    height: 102px;

    position:absolute;
    left:47%;

    background: url("../resources/main-logo.png");
}



.text_logo {
    width:229px;
    height:98px;

    margin-left:auto;
    margin-right:auto;

    background: url("../resources/text-logo.png")

}


.button-light_focus {
    margin-left:auto;
    margin-right:auto;

    height:50px;
    width:250px;

    background: radial-gradient(50% 50% at 50% 50%, #B8F6FF 0%, #81CEF0 100%);
    box-shadow: 0px 0px 10px rgba(138, 212, 243, 0.4);
    border-radius: 27.5px;

    display:flex;
    align-items: center;

    cursor: pointer;
    

}
.button-light_focus-text {
    margin-left:auto;
    margin-right:auto;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
    color: #000000;
}



.star {
    position:absolute;
    width:15px;
    height:15px;

    background: url("../resources/stars.png") center;

}
.rocket_floor {
    position:absolute;

    top:42%;
    left:4%;
    

    width:509px;
    height:300px;
    background: url("../resources/rocket-floor.png") center no-repeat;

}
.rocket {
    position: absolute;

    top:0%;
    left:4%;

    width:509px;
    height:400px;
    background: url("../resources/rocket.png") center no-repeat;

    animation: rocketMovement 5s ease infinite;
}
@keyframes rocketMovement {
    0% {
        top:6%;
    }
    50% {
        top:0%;
    }
    100% {
        top:6%;
    }
}



#monitor_img {
    margin-top:20px;
    margin-left: 5%;
    margin-right: 5%;
    background: url("../resources/monitor-area.png");
    width:500px;
    height:480px;
}
#monitor_description {
    margin-top:20px;
    margin-left: 5%;
    margin-right: 5%;
    width:540px;
    height:480px;
}